.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*form container */
.container-fluid{
  max-width: 80%;
  min-width: 80%;
  margin: 0;
  flex-flow: column;
}
* {
  box-sizing: border-box;
}
/*from input etc. */
input[type=text], select, textarea {
  max-width: 98%;
  min-width: 98%;
  padding: 1ex;
  margin: 1ex;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}






.col-md-6{
display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.sightings{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  margin: 1ex;
  max-width: 100%;
}
.newSightingBox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  background: rgba(45,45,45,0.6);
  max-width: 70%;
  min-width: 70%;
  border-style: solid;
  margin: 1ex;
}

#submitFormContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 1ex;
  max-width: 100%;
  border-style: solid;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  max-height: 30ex;
  max-width: 50ex;
  visibility: hidden;
}

img{
width: 100%;
height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}